  Name: <%=@recipe.name%><br>
  Cook Time: <%=@recipe.cook_time%>
  Ingredients: <%=@recipe.ingredients%>
  <form method='post' action='/recipes/<%=@recipe.id%>'>
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type='submit' value='DELETE'>
  </form>